@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Signika+Negative&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika Negative", sans-serif;
}
body {
  background-color: hsl(216, 12%, 8%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.question-container {
  background-color: hsl(213, 19%, 18%);
  height: 23rem;
  width: 20rem;
  border-radius: 20px;
  padding: 2rem 1rem;
}

h3 {
  color: hsl(0, 0%, 100%);
  margin: 1rem 0;
  font-weight: 700;
}

p {
  color: hsl(217, 12%, 63%);
  font-size: 15px;
  font-weight: 400;
  margin: 1.5rem 0;
}

#submit {
  width: 100%;
  height: 2.6rem;
  margin-top: 2.5rem;
  background-color: hsl(25, 97%, 53%);
  border-radius: 40px;
  color: white;
  border: 0;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

#submit:hover {
  color: hsl(25, 97%, 53%);
  background-color: white;
}

.number {
  display: flex;
  justify-content: space-between;
  place-items: center;
}

.rating {
  /* width: 2.5rem; */
  /* height: 2.5rem; */
  /* border-radius: 50%; */
  /* color: white; */
  /* background-color: hsl(217, 12%, 63%); */
  /* border: 0; */
  /* outline: 0; */
}

.rating input {
  /* display: none; */
}

.rating label {
  width: 100%;
  height: 100%;
  padding: 1rem;
  color: white;
  background-color: hsl(217, 12%, 63%);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.rating label:hover {
  background-color: hsl(25, 97%, 53%);
}

input:checked ~ label {
  background-color: hsl(25, 97%, 53%);
}

.result-container {
  background-color: hsl(213, 19%, 18%);
  height: 23rem;
  width: 20rem;
  border-radius: 20px;
  padding: 2rem 1rem;
  text-align: center;
  display: none;
}

.rating-no {
  margin: 2rem;
  padding: 5px 5px;
  height: 2rem;
  width: 14rem;
  border-radius: 30px;
  background-color: hsl(217, 12%, 63%);
  color: hsl(25, 93%, 26%);
}
.rating-no {
  opacity: 0.8;
}
.result-h3 {
  font-weight: 700;
  color: white;
  margin-bottom: 1rem;
}
.result-p {
  color: hsl(217, 12%, 63%);
}
