@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Signika+Negative&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika Negative', sans-serif;
}
body{
    background-color: hsl(216, 12%, 8%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.container{
    background-color: hsl(213, 19%, 18%);
    height: 23rem;
    width: 20rem;
    border-radius: 20px;
    padding: 2rem 1rem;
    text-align: center;
}
.rating-no{
    margin: 2rem;
    padding:5px 5px ;
    height: 2rem;
    width: 14rem;
    border-radius: 30px;
    background-color: hsl(217, 12%,63% );
    color: hsl(25,97%,53%);
}
div.rating-no{
    opacity: 0.8;
}
h3{
    font-weight: 700;
    color: white;
    margin-bottom: 1rem;
}
p{
    color: hsl(217, 12%,63% ) ;
}
